In [ ]:
# Import relevant libraries
from splinter import Browser
from bs4 import BeautifulSoup as soup
import matplotlib.pyplot as plt
import pandas as pd
import datetime

In [ ]:
browser = Browser('chrome')

In [ ]:
# Visit the website
# https://static.bc-edx.com/data/web/mars_facts/temperature.html
url = 'https://static.bc-edx.com/data/web/mars_facts/temperature.html'
browser.visit(url)

In [ ]:
# Create a Beautiful Soup Object
html = browser.html
mars_soup = soup(html, "html.parser")
mars_soup

In [ ]:
# Extract all rows of data
table_elements = mars_soup.find_all("tr", class_="data-row")
table_elements

In [ ]:
#scratch work
table_elements[0].find_all("td")

In [ ]:
#Credit to Instructor Eli Rosenberg for this section of code - it was shared during lecture
# Create an empty list
data_rows = []
# Loop through the scraped data to create a list of rows
for row in table_elements:
    cell_values = row.find_all("td")
    values = []
    for value in cell_values:
        values.append(value.text)
    data_rows.append(values)

data_rows

In [ ]:
# Create a Pandas DataFrame by using the list of rows and a list of the column names
mars_df = pd.DataFrame(data_rows, columns = ['id', 'terrestrial_date', 'sol', 'ls', 'month', 'min_temp', 'pressure'])

In [ ]:
# Confirm DataFrame was created successfully
mars_df

In [ ]:
# Examine data type of each column
mars_df.dtypes

In [ ]:
# Confirm type changes were successful by examining data types again
mars_df.dtypes

In [ ]:
# 1. How many months are there on Mars?
mars_df['month'].max()

In [ ]:
# 2. How many Martian days' worth of data are there?
length_of_list = len(mars_df)
mars_days_max = mars_df["sol"].max()
mars_days_min = mars_df["sol"].min()
mars_days = mars_days_max - mars_days_min
print(f"Total number of data entries: {length_of_list}")
print(f"Max recorded sol value: {mars_days_max}")
print(f"Min recoreded sol value: {mars_days_min}")
print(f"Number of Mars Days (with 100 missing entries): {mars_days}")

In [ ]:
# 3. What is the average low temperature by month?
average_low_temp = mars_df["min_temp"].groupby(mars_df['month']).mean()
average_low_temp

In [ ]:
# Plot the average temperature by month
average_low_temp.plot.bar(rot = 0)
plt.ylabel("average_low_temp")

In [ ]:
# Identify the coldest and hottest months in Curiosity's location
hottest_month = average_low_temp.idxmax()
hottest_month_temp = average_low_temp.max()
coldest_month = average_low_temp.idxmin()
coldest_month_temp = average_low_temp.min()
print(f"Month #{hottest_month} had the hottest average temperature of {hottest_month_temp}")
print(f"Month #{coldest_month} had the coldest average temperature of {coldest_month_temp}")

In [ ]:
# 4. Average pressure by Martian month
avg_pressure_monthly = mars_df["pressure"].groupby(mars_df["month"]).mean()
avg_pressure_monthly

In [ ]:
# Plot the average pressure by month
avg_pressure_monthly.plot.bar(rot=0)
plt.ylabel("Pressure (mmHg)")

In [ ]:
# 5. How many terrestrial (earth) days are there in a Martian year?
new_mars_df = mars_df.set_index("terrestrial_date")
new_mars_df

In [ ]:
#find all ls= 0 dates
ls_0_list = new_mars_df.loc[new_mars_df["ls"] == 0]
ls_0_list

In [ ]:
ls_359_list = new_mars_df.loc[new_mars_df["ls"] == 359]
ls_359_list

In [ ]:
#one mars year is the amount of time it takes for 'ls' to cycle from 0 to 359, aka one full revolution around the sun
date_359 = '2015-06-17'
date_359_val = datetime.datetime.strptime(date_359, "%Y-%m-%d")
date_359_val

In [ ]:
date_0 = '2013-08-01'
date_0_val = datetime.datetime.strptime(date_0, "%Y-%m-%d")
date_0_val

In [ ]:
# 5. How many terrestrial (earth) days are there in a Martian year?
mars_year_days = date_359_val-date_0_val
print(f"One Mars year is ({mars_year_days}) Earth Days")

In [ ]:
#disregard, scratch code
mars_ls_max = new_mars_df["ls"].max()
mars_ls_min = new_mars_df["ls"].min()
mars_ls_max_date = new_mars_df["ls"].idxmax()
mars_ls_min_date = new_mars_df["ls"].idxmin()
print(mars_ls_max)
print(mars_ls_max_date)
print(mars_ls_min)
print(mars_ls_min_date)

In [ ]:
# Write the data to a CSV
output_path = "mars_data.csv"
new_mars_df.to_csv(output_path)

In [ ]:
browser.quit()